{{ define "main" }}

{{ partial "page-title.html" . }}

{{ with .Params.pricing }}
{{ if .enable }}
<section class="pricing-table section bg-gray">
  <div class="container">
    <div class="row">
      <!-- single pricing table -->
      {{ range .pricing_table }}
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="pricing-item text-center">
          <div class="price-title">
            {{ with .name }}<h3>{{ . | markdownify }}</h3>{{ end }}
            {{ with .price }}<strong class="value">{{ . }}</strong>{{ end }}
            {{ with .content }}{{ . | $.Page.RenderString (dict "display" "block") }}{{ end }}
          </div>
          <ul>
            {{ range .services }}
            <li>{{ . | markdownify }}</li>
            {{ end }}
          </ul>
          <a class="btn btn-small" href="{{ .Site.BaseURL | relLangURL }}{{.link | safeURL }}">{{ i18n "buy_now" }}</a>
        </div>
      </div>
      {{ end }}
      <!-- end single pricing table -->
    </div>
  </div>
</section>
{{ end }}
{{ end }}

<!-- Call to action -->
{{ if .Params.cta.enable }}
{{ partial "cta.html" . }}
{{ end }}
<!-- /Call to action -->

{{ end }}
